################################################################################
# Parameters are automatically replaced during build:                          #
################################################################################

# Service Version
SERVICEVERSION=@SERVICE_VERSION@

################################################################################
# Fixed parameters (except service version which is moved to build.properties  #
# to be reused in file name), change only with care!                           #
################################################################################

# default check interval
DEFAULT_CHECK_INTERVAL_SECS=3600

# max number of checks, only limits the amount of results presented in viewers
MAX_CHECK_LIST_SIZE=17

# email settings
MAIL_PROTOCOL=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_USER=OwsSupervisor@googlemail.com
MAIL_PASSWORD=Baz1nga!
MAIL_HOST_PORT=465
MAIL_ENABLE_TLS=false
MAIL_ENABLE_AUTH=true
MAIL_SENDER_ADDRESS=OwsSupervisor@googlemail.com

# debug options
SEND_EMAILS=true
SEND_EMAIL_INTERVAL_MINS=2