<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>OwsSupervisor - @BUILDINFO@</display-name>

	<description>OGC Web Service Supervisor Application</description>

	<servlet>
		<servlet-name>Timer</servlet-name>
		<servlet-class>org.n52.owsSupervisor.tasks.TaskServlet</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/conf/supervisor.config</param-value>
		</init-param>
		<load-on-startup>100</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>OwsSupervisor</servlet-name>
		<servlet-class>org.n52.owsSupervisor.Supervisor</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/conf/supervisor.config</param-value>
		</init-param>
		<load-on-startup>200</load-on-startup>
	</servlet>

	<!-- <servlet-mapping> <servlet-name>SOR</servlet-name> <url-pattern>/sor</url-pattern> 
		</servlet-mapping> -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>